:root {
    --blue: #2196F3;
    --dirty:#212121;
    --silver:#757575;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* Header */

.header-box{
border-bottom: 1px solid #ECECEC;

}

.navigation{
    display: flex;
    align-items: center;
}

.container-header{
display: flex;
justify-content:center;
margin: 0px auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}

.navigation-logo{
color: #000;
font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
}

.logo-web{
color: var(--blue);
font-weight: 400;
}

.navigation-block-header{
display: inline-flex;
margin-left: 93px;
list-style-type: none;
padding-left: 0px;

}

/* .navigation-block-header li{
    position: relative;
} */

.navigation-block-header li:not(:last-child){
margin-right: 50px;
}

.navigation-link{
display: flex;
align-items: center;
position: relative;

color:var(--dirty);
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 0.9;
letter-spacing: 0.02em;
text-decoration: none;
}

.navigation-link:hover{
color:#2196F3;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-now::after {
    position: absolute;
    left: 0;
    top: 27px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}





.container-heder-second{
display: flex;
margin-left: auto;
padding-left: 0px;
list-style-type: none;
}

.container-heder-second li:nth-child(2n){
margin-left: 50px;
}
 
.icon-link{
    margin-right: 10px;   
}

.navigation-link:hover .icon-link{
    fill: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* main */

/* section 1 */

.board{
/* background: rgba(47, 48, 58, 0.4); */
font-family: 'Roboto';
padding-top: 200px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
url('../images/Background-title.jpg');
background-repeat: no-repeat;
background-position: center;
}

.container-title{
width: 696px;
margin: 0 auto;
text-align: center;
}

.board-title{
margin-top: 0px;
margin-bottom: 30px;
color: #fff; 
font-weight: 900;
font-size: 44px;
line-height: 1.3;
letter-spacing: 0.06em;
cursor:default;
}

.board-btn{
display: inline-flex;
margin-bottom: 200px;
min-width: 216px;
padding: 10px 32px;
border: transparent;
border-radius: 4px;
cursor: pointer;

color: #fff;
background-color: var(--blue);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
}

/* modal window */

.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility:hidden;
}

.modal-window{
    position: absolute;
    min-height: 580px;
    width: 540px;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
   
}

.modal-btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50% ;
    padding: 0;
    cursor: pointer;

}

.modal-close:hover{
    fill: var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
font-family: 'Roboto';
font-weight: 700;
font-size: 20px;
line-height: calc(20/23);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top: 40px;
margin-bottom: 12px;
}

/* modal form */

.modal-form{
margin-right: 40px;
margin-left: 40px;
font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
cursor: default;

color: #757575;
}

.discription-form{
display: block;
text-align: start;
position: relative;
}

.form-zone{
margin-top: 4px;
margin-bottom: 10px;
padding: 12px 42px;
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}

.form-feedback{
padding: 12px 16px;
margin-top: 4px;
resize: none;
width: 100%;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}

.form-feedback:focus{
    border: 1px solid var(--blue);
    outline: none;
    }

.modal-icons-vector{
    position: absolute;
    top: 29px;
    left: 11px;
}

.form-zone:focus{
border: 1px solid var(--blue);
outline: none;
}

.form-zone:focus ~ .modal-icons-vector{
    fill: #2196F3;
}

.checkbox-icons{
    margin-top: 20px;
    margin-right: 8px;
}

.checkbox{
    position: relative; 
    cursor: pointer;
}

.mod-icon-check{
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-window:checked + .checkbox-icons 
.mod-icon-check{
    opacity: 1;
}

.checkbox-window:checked + .checkbox-icons 
.mod-icon-uncheck{
    opacity: 1;
}


.modal-checkbox{
font-size: 14px;
line-height: 24px;

color: #757575;
}

.dok-link{
    font-size: 14px;
line-height: 24px;
text-decoration-line: underline;
color: #2196F3;
}

.modal-submit{
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: calc(16/30);
padding: 10px 52px;
height: 50px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 40px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--blue);
color: #FFFFFF;
border-radius: 4px;
border: 0;
cursor: pointer;
}

/* section 2 */

/* .about{
background-color: #fff;
} */

.second-container{
height: 766px;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

/* Section 2.1 */

/* SVG */

.icons-about{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #F5F4FA;
    height: 120px;
    border-radius: 4px;
}


.container-advantages{
display:flex;
margin-top: 94px;
margin-bottom: 0px;
}

.advantages{
margin-top: 0px;
margin-bottom: 0px;
padding-left: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
}

.advantages:not(:last-child){
margin-right: 30px;
}

.advantages-info{
margin-top: 30px;
margin-bottom: 10px;
color: var(--dirty);
font-size: 14px;
line-height: 1.1;
}

.advantages-explanation{
margin-top: 0px;
margin-bottom: 0px;
color: var(--silver);
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}



/* section 2.2 */


.container-work-discription{
height: 386px;
margin-bottom: 94px;
}

.picture-title{
margin-top: 94px;
margin-bottom: 50px;
color: var(--dirty);
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}

.item{
display:flex;
}

.item .img-about:nth-child(n + 2) {
margin-left: 30px;
}

.img-about{
    position: relative;

}

.image-discription{
position: absolute;
width: 100%;
height: 70px;
left: 0;
bottom: 0;
background-color: rgba(47, 48, 58, 0.8);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
margin: 0;
padding-top: 27px;
padding-bottom: 27px;
color: #FFFFFF;
}


/* section 3 */

.section-command{
background-color: #F5F4FA;
padding-top: 94px;
padding-bottom: 94px;
}

.container-command{
display: flex;
/* height: 648px; */
justify-content: center;
}

.picture-title-secondary{
margin-top: 0px;
margin-bottom: 50px;
}

.employes{
width: 270px;
background-color: #fff;
font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
padding-bottom: 30px;
}

.employes:nth-child(n+2){
margin-left: 30px;
}

.employes-name{
margin-top: 30px;
margin-bottom: 10px;
color: var(--dirty);
font-weight: 500;

}

.employes-description{
margin-top: 0px;
margin-bottom: 30px;
color: var(--silver);
font-weight: 400;
}

.employes-link{
    height: 44px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;

}

.link-icons{
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.link-icons:hover{
    width: 44px;
    height: 44px;
    fill: #fff;
    background-color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section clients */

.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: default;
    }

.container-clients{
display: flex;
justify-content: center;
flex-wrap: nowrap;
margin-top: 50px;
gap: 30px;
}


.client-company{
height: 92px;
width: 170px;
border: 1px solid #AFB1B8;
border-radius: 5px;
padding: 16px;
text-align: center;   

}

.client-company:hover{
    border-color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-company:hover .clients-logo{
    fill: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* footer */


.bottom{
background-color: #2F303A;
}


.container-footer{
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}




.logo-bottom{
display: inline-block;
margin-top: 60px;
margin-bottom: 20px;
color:#fff;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
}

.bottom-web{
color:#2196F3;
}
.bottom-list{
margin-top: 0px;
margin-bottom: 60px;
padding-left: 0px;
}

.bottom-info{
text-decoration: none;
margin-top: 0px;
margin-bottom: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.bottom-link{
margin-top:9px;
margin-bottom: 0px;
color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.bottom-list li{
list-style-type: none;
}

/* Container-bottom-icons */

.container-bottom-icons{
display: flex;
flex-wrap: wrap;
margin-left: 70px;
margin-top: 72px;
height: 80px;
width: 206px;
}

.bottom-text-links{
 
font-family: "Roboto";
font-size: 14px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
text-transform: uppercase;
margin-top: 0px;
margin-bottom: 20px;
}

.bottom-icons-list{
display: flex;
padding-left: 0px;
gap: 10px;
margin-top:0px ;
margin-bottom: 0px;
}

.bottom-icons{
list-style-type: none;  
}


.bottom-link-icons{
width: 44px;
height: 44px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.1);
}

.bottom-link-icons:hover{
width: 44px;
height: 44px;
fill: #fff;
background-color: var(--blue);
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* form-bottom */

.form-bottom{
position: relative;
margin-left: 93px;
margin-top: 72px;
height: 82px;
width: 570px;
}

.mailing-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(14/16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;
}

.mailing-list-input{
padding: 16px 15px;
color: #EEE;
background-color: transparent;
    width: 358px;
height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.mailing-list-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(16/30);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    height: 50px;
    
    margin-left: 12px;
    padding: 10px 28px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
cursor: pointer;
}

.mailing-list-icon{
    margin-left: 10px;
}

/* index-two */

/* navigation-zone */

.main-content-box{
margin: 94px auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}

.container-navigatione-zone{
margin-bottom: 50px;

}

.navigation-zone{
display: flex;
justify-content: center;
list-style-type: none;
margin-top: 0px;
margin-bottom: 34px;
padding-left: 0px;
}

.navigation-zone li:not(:first-child){
margin-left: 8px;
}

.navigation-blocks{
color: var(--dirty);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
background: #F5F4FA;
text-decoration: none;
}

.navigation-blocks{
display: inline-block;
margin-top: 0px;
margin-bottom: 0px;
padding: 6px 25px;
border-radius: 4px;
}

.navigation-blocks:hover{
color: #fff;
background: var(--blue);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section-blocks */

.container-blocks{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.container-blocks div:nth-child(n+4){
margin-top: 30px;
}

.blocks-info{
font-family: 'Roboto';
font-style: normal;
height: 404px;
width: 370px;
border: 1px solid #EEE;
border-radius: 0px;
}

.blocks-info:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-text{
margin: 20px 24px;
}

.container-info{
margin-top: 0px;
margin-bottom: 4px;
color: var(--dirty);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.info-description{
margin-top: 0px;
margin-bottom: 20px;
color: var(--silver);
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
}

.card-discription{
position: relative;
overflow: hidden;
}

.block-info-discription{
position: absolute;
width: 100%;
left: 0;
top: 100%;
opacity: 0;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
text-align: left;
margin: 0px;
padding: 63px 24px;
background: rgba(33, 150, 243, 0.9);
color: #FFFFFF;
}

.blocks-info:hover .block-info-discription{
    opacity: 1;
    top:0;
    
    
}